<div class="container-fluid" style="margin-top:100px;">
          <div class="row">
              <u><h1 style="text-align:center; color:#CF0000;">Our Story</h1></u>
          </div>
          <br>
          <div class="row" style="text-align:center;">
                    <div class="col-md-12">
                        In 2013, Sculpt Fiction founder and CEO Dean Ruberry, as an avid and passionate movie fan and collector, embarked on a mission of connecting people around the globe, with more alternative and grander scale movie Marquette’s. But paying paramount attention to the passion most important to Dean, being able to offer robust sculpts in quality and collector satisfaction, as too in value for money, when compared to the current market.
                    </div>
          </div>
          <br>
          <br>
          <div class="row" style="text-align:center;">
                     <div class="col-md-12">
                        Often himself, stifled in the selection on offer by the current market, the investigation into specially manufactured and distributed 1:3 scale movie sculptures began.
                    </div>
          </div>
          <br>
          <br>
          <div class="row" style="text-align:center;">
                     <div class="col-md-12">
                        This eventually led to, during the fall of 2013, with Sculpt Fiction defining their mission statement with the intend “of being the most highly sought-after licensed 1:3 scale movie sculpts producer, without compromise of quality and value for money”
                    </div>
          </div>
          <br>
          <div class="row" style="text-align:center;">
            <h5 style="text-align:center; color:#CF0000;">What we've done so far</h5>
            <a href="/timelines" type="button" class="btn btn-default">The Sculpt Timelines</a>
              
          </div>
          <br>
          <br>
          <div class="row" style="text-align:center;">
            <u><h1 style="text-align:center; color:#CF0000;">Our Shipping Policy</h1></u>
              <h5 style="text-align:center; color:#CF0000;">What we include</h5>
              <p>Here at Sculpt Fiction we only use experts when shipping our sculpts. By using DHL prioity international, we aim to ship to most world wide destinations in 3-4 working days from shipping date. 
              </p>
              <p>The final sale price on all our marquettes includes shipping, tracking and shipping insurance.</p>
              <p>Just remember that these are all 1/3 marquees and at over 2 feet tall and 7kg+ these are very expensive to ship from our factory.</p>
              <p>We like to be fair at Sculpt Fiction this is why we have decided to include the shipping cost in the price of the sculpts with worldwide shipping included so everyone can enjoy our staues all over the world and at the same fair price.</p>
              <p>We have added our costs to show the price for one Mad Max to different continents so you can see how hard we have work to offer you sculpts delivered to your door at such a great price.</p>
          </div>
          <div class="row" style="text-align:center;">
              NORTH AMERICA - Washington £125.80
              SOUTH AMERICA  - Buenos Aires £ 142.22
              EUROPE  - London £115.53 
              ASIA  - New Dehli  £ 122.59
              AUSTRALIA - Sydney   £119.38
              AFRICA - Cape Town £ 189.35 
          </div>
          <br>
          <br>
          <div class="row" style="text-align:center;">
            <a href="mailto:deanruberry@sculptfiction.co.uk?Subject=Hello" target="_top" type="button" class="btn btn-default">Get in Touch</a>
              <h5 style="text-align:center; color:#CF0000;">Dropping us a line we'd be delighted to hear from you.</h5>
              <div class="col-md-12">
                        <a href="mailto:deanruberry@sculptfiction.co.uk?Subject=Hello" target="_top">deanruberry@sculptfiction.co.uk</a>
              </div>
          </div>
          <br>
          <br>
</div>

