
<div class="container-fluid">

          <div class="row">
              <u><h1 style="text-align:center; color:#CF0000;">Donatello TMNT</h1></u>
          </div>
          <br>
          <br>
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4">
                <h1 style="text-align:center; color:#CF0000;">Available Now</h1>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4" style="overflow:hidden;">
                <h5 style="text-align:center;">Sculpt Fiction presents Donatello TMNT Marquette.</h5>
                <p style="text-align:center; color:#CF0000;">Features a unique pizza base and wooden detachable bo-staff.</p>
                <p style="text-align:center;">Hand painted and limited only to 500 worldwide.</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4">
                <h1 style="text-align:center; color:#CF0000;">In Stock</h1>
              </div>
          </div>
          <br>
          <br>
          <div id="carousel-example-2" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="images/donlanding.png" alt="...">
                  </div>
                  Specialists in 1/3 scale resin movie marquettes
                </div>
                <!-- Controls -->
          </div>
          <br>
          <br>
          <br>
          <div class="row" style="text-align:center;">
            <div class="col-md-4"><a>Buy Now includes Shipping</a></div>
            <div class="col-md-4">
              <h5 style="text-align:center; color:#CF0000;">Pay with Paypal or by Card<script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=RG7Q4KNT2PFVJ" 
                  data-button="buynow" 
                  data-name="Donatello" 
                  data-amount="259" 
                  data-currency="GBP" 
              ></script>
              </h5>
            </div>
            <div class="col-md-4"><a href="/timelines">View Sculpt Timeline</a></div>
          </div>
          <br>
          <br>
          <br>
          
          <div class="row">
              <div class="col-md-4">
                <a data-toggle="modal" data-target="#myModal" href="" class="thumbnail">
                   <img src="images/dt1.png" class="img-thumbnail img-responsive imgModal" alt="...">
                </a>
              </div>
              <div class="col-md-4">
                <a data-toggle="modal" data-target="#myModal" href="" class="thumbnail">
                  <img src="images/dt2.png" class="img-thumbnail img-responsive imgModal" alt="Responsive image">
                </a>
              </div>
              <div class="col-md-4">
                <a data-toggle="modal" data-target="#myModal" href="" class="thumbnail">
                  <img src="images/dt3.png" class="img-thumbnail img-responsive imgModal" alt="Responsive image">
                </a>
              </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <a data-toggle="modal" data-target="#myModal" href="" class="thumbnail">
                <img src="images/dt4.png" class="img-thumbnail img-responsive imgModal" alt="Responsive image">
              </a>  
            </div>
            <div class="col-md-4">
                <a data-toggle="modal" data-target="#myModal" href="" class="thumbnail">
                <img src="images/dt6.png" class="img-thumbnail img-responsive imgModal" alt="Responsive image">
              </a>
            </div>
            <div class="col-md-4">
                <a data-toggle="modal" data-target="#myModal" href="" class="thumbnail">
                <img src="images/dt7.png" class="img-thumbnail img-responsive imgModal" alt="Responsive image">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <a data-toggle="modal" data-target="#myModal" href="" class="thumbnail imgModal">
                <img src="images/dt8.png" class="img-thumbnail img-responsive" alt="Responsive image">
              </a>
            </div>
            <div class="col-md-4">
                <a data-toggle="modal" data-target="#myModal" href="" class="thumbnail">
                <img src="images/dt9.png" class="img-thumbnail img-responsive imgModal" alt="Responsive image">
              </a>  
            </div>
            <div class="col-md-4">
                <a data-toggle="modal" data-target="#myModal" href="" class="thumbnail">
                <img src="images/d5.jpg" class="img-thumbnail img-responsive imgModal" alt="Responsive image">
              </a>
            </div>
          </div>
          <br>
          <br>
          <div class="row" style="text-align:center;">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                  Product Details:
                  Tennage Mutant Ninja Turles 1990 Donatello 
                  Scale:
                  1:3:
                  Manufacturer:
                  Sculpt Fiction
                  Product Size:
                  20.5” H (510mm) x 17” W (430mm) x 12.2” L (310mm)
                  Product Material:
                  Cast resin
                  Box Size:
                  21” H (53cm) 16 ” H (40cm) 24“ L (61cm)*
                  Product Weight:
                  4.9 kg*
                  Est. Shipping Weight:
                  6.9 kg*
                  Detachable bo-staff:
                  18” L.
                  Size and weight are approximate values. 
                  Product Sku
                  0002
                  Artists:
                  The Sculpt Fiction Design and Development Team
                  © 2014 Sculpt Fiction Ltd
              </div>
              <div class="col-md-4">
              </div>
          </div>
          <br>

          <br>
          <div style="text-align:center;" class="row">
                <div class="col-md-6">
                        <h3>Secure Payments Provided By PayPal.</h3>
                        <h4>It doesn't matter if you don't have an account.</h4>
                        <h4>Quick, Simiply and Easy.</h4>
                        <article>
                          <label>
                            <span id="maxAmount" value="25000">Amount: £259.00</span>
                            <span id="shipping" type="hidden" value="">Shipping: included</span>
                          </label>
                        </article>
                        <h5 style="text-align:center; color:#CF0000;">Pay with Paypal or by Card<script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=RG7Q4KNT2PFVJ" 
                          data-button="buynow" 
                          data-name="Donatello" 
                          data-amount="259" 
                          data-currency="GBP" 
                      ></script>
                        </script>
                        </h5>
                </div>
                <div class="col-md-6">
                    <h3>Secure Payments Provided By Stripe.</h3>
                    <form id="stripeForm" action="/charge" method="post" class="payment">
                      <article>
                        <label>
                          <span id="maxAmount" value="25900">Amount: £259.00</span>
                          <span id="shipping" type="hidden" value="">Payment method currently unavailable</span>
                        </label>
                      </article>
                      <p><input type="text" name="name" placeholder="Enter your name"></p>
                      <p><input type="text" name="address_1" placeholder="Enter your address line 1"></p>
                      <p><input type="text" name="postcode" placeholder="Enter your post or zip code"></p>
                      <input type="hidden" name="product" value="Madmax">
                      <br>
                      <script id="stripeorderbutton" src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= settings.publishable_key %>"></script>
                     </form>

                     <% if session[:order] %>
                        <p><%= session[:order] %></p>
                     <% end %>
                   </div>
          </div>
          <br>
          <br>
          <div class="row" style="text-align:center;">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                What's in the Box?
                <br>
                The Donatello TMNT Figure features:
                Detachable 18" wooden Bo-staff
                <br>
                TMNT Donatello is an Exclusive Release from Sculpt Fiction
              </div>
              <div class="col-md-4">
              </div>
          </div>

</div>


