<footer style="border-top: 1px solid #CF0000;" class="footer">
  <br>
    <div class="container-fluid">
       <div class="row">
          <div style="text-align:center;" class="col-xs-12 col-sm-6 col-md-8">
            <address>
              <strong>Sculpt Fiction Ltd</strong>
              <br>
              --
              <br>
              --
              <br>
            </address>
          </div>
          <div class="col-xs-6 col-md-4">
                <div class="copyright">© 2014 Sculpt Fiction</div>
                <a href="" style="background-color:#F1F1F1;" class="btn btn-default">
                 <img src="images/facebook-footer.png" class="glyphicon" width="40" height="40">
                </a>
                <a href="" style="background-color:#F1F1F1;" class="btn btn-default">
                 <img src="images/twitter-footer.png" class="glyphicon" width="40" height="40">
                </a>
               <a href="" style="background-color:#F1F1F1;" class="btn btn-default">
                 <img src="images/google-footer.png" class="glyphicon" width="40" height="40">
                </a>
          </div>
       </div>
    </div>
    <br>
</footer>