<div class="forummainwrapper">
		<div class="forumdisplaycard" data-href="/forum/madmax">
			<div class="picoverlay">
			   <h2>"Have you purchased our Road Warrior sculpt?  Or curious in doing so?  Want to comment with others regarding your opinions?  Click through and chat in our global forum."</h2>
			   <p>Click for more information </p>
			</div>
		   <a class="forumtitle" href="/forum/madmax">Mad Max forum</a>
		   <img src="images/productslogo.png">
		  </div>
		  <div class="forumdisplaycard" data-href="/forum/donatello">
		  	<div class="picoverlay">
			   <h2>Have you purchased Ninja Turtle?  Or curious in doing so?  Want to comment with others regarding your opinions?</h2>
			   <p>Click for more information </p>
			</div>
		   <a class="forumtitle" href="/forum/donatello">Donatello forum</a>
		    <img src="images/productslogo.png">
		   <p></p>
		  </div>
		  <div class="forumdisplaycard" data-href="/forum/upcoming">
		  	<div class="picoverlay">
			   <h2>Have a say in possible upcoming sculpts.  New turtles, Marty McFly and many others.  Tell us what you think.</h2>
			    <p>Click for more information </p>
			</div>
		    <a class="forumtitle" href="/forum/upcoming">Upcoming forum</a>
		    <img src="images/productslogo.png">
		  </div>
</div>



<div class="container-fluid" style="margin-top:100px;">
          <div class="row">
              <h1 style="text-align:center;">Our Portfolio</h1>
              <h5 style="text-align:center; color:#CF0000;">What we've done so far</h5>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img src="images/grid7.png" class="img-responsive" alt="Responsive image">
              </a>
              <h5 style="text-align:center; color:#CF0000;">"Have you purchased our Road Warrior sculpt?  Or curious in doing so?  Want to comment with others regarding your opinions?  Click through and chat in our global forum."</h5>
            </div>
            <div class="col-md-4">
                <a data-toggle="modal" data-target="#myModal" href="" class="thumbnail">
                <img src="images/grid8.png" class="img-responsive" alt="Responsive image">
              </a>
            </div>
            <div class="col-md-4">
                <a data-toggle="modal" data-target="#myModal" href="" class="thumbnail">
                <img src="images/grid9.png" class="img-responsive" alt="Responsive image">
              </a>
            </div>
          </div>

</div>