 <div class="container-fluid">
          <div id="landing-carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <img src="images/landingbanner.png" alt="...">
                  <div class="carousel-caption">
                  </div>
                </div>
              </div>
            </div>
</div>