 <nav class="navbar navbar-default navbar-top navbar-inverse" role="navigation">
          <div class="container-fluid">
            <div class="row" style="text-align:center;">
                <div class="btn-group">
                  <a href="/" type="button" class="btn btn-default">Home</a>
                  <a href="/sculpts" type="button" class="btn btn-default">Sculpts</a>
                  <a href="/" type="button" class="btn btn-default">Blog</a>
                  <a href="/about" type="button" class="btn btn-default">About</a>
                  <a href="/signup" type="button" class="btn btn-default">Login</a>
                </div>
            </div>
          </div>
</nav>


